/* colors */

/* */

/* layout */
html, body, div.wrapper, div.body {
    height:100%;
    width:100%;
    overflow:hidden;
}
body {
    background:#333;
    padding:0;
}
div {
    margin:0;
    padding:0;
}
/* */

/* text */
h1 {
    margin:0;
    padding:0;
}
/* */

/* card effects */
#card {
    display:inline-block;
    min-height:200px;
    min-width:400px;
    background:#fff;
    margin:10px;
}
/* */